@tailwind base;
@tailwind components;
@tailwind utilities;

.lazy-load-image-background {
  @apply !inline;
}

.nav::after {
  content: "";
  position: absolute;
  background: #dc2626;
  height: 1.8px;
  width: 0%;
  left: 0px;
  bottom: 0px;
  transition-duration: 300ms;
}

.nav:hover::after {
  width: 100%;
}

.errors {
  @apply text-red-600;
}
/* .errors-form {
  @apply focus:border-red-700 focus:ring-2;
} */
.bg-register {
  background-image: url(../src/assets/bg2.jpg);
  background-size: cover;
}
.bg-login {
  background-image: url(../src/assets/bg9.jpg);
  background-size: cover;
}
button:disabled {
  opacity: 0.35;
  cursor: progress;
}
