@tailwind base;
@tailwind components;
@tailwind utilities;

.lazy-load-image-background {
  @apply !inline;
}

.nav::after {
  content: '';
  position: absolute;
  background: #dc2626;
  height: 1.8px;
  width: 0%;
  left: 0px;
  bottom: 0px;
  transition-duration: 300ms;
}

.nav:hover::after {
  width: 100%;
}
